</head>
<body>
	


	<div id="menu">
		<a href="ex 3ª ev.html"><p class="cabecera"></p></a>
	<ul>
		<li><a href="ex 3ª ev.html">Inicio</a></li>
		<li><a href="equipos.html">Equipos</a>
				<ul>
						<li><a href="equipos/cardinals.html">Arizona Cardinals</a></li>
						<li><a href="equipos/falcons.html">Atlanta Falcons</a></li>
						<li><a href="equipos/ravens.html">Baltimore Ravens</a></li>
						<li><a href="#">Buffalo Bills</a></li>
						<li><a href="#">Carolina Panthers</a></li>
						<li><a href="#">Chicago Bears</a></li>
						<li><a href="#">Cincinnati Bengals</a></li>
						<li><a href="#">Cleveland Browns</a></li>
						<li><a href="#">Dallas Cowboys</a></li>
						<li><a href="#">Denver Broncos</a></li>
						<li><a href="#">Detroit Lions</a></li>
						<li><a href="#">Green Bay Packers</a></li>
						<li><a href="#">Houston Texans</a></li>
						<li><a href="#">Indianapolis Colts</a></li>
						<li><a href="#">Jacksonville Jaguars</a></li>
						<li><a href="#">Kansas City Chiefs</a></li>
						<li><a href="#">Los Angeles Chargers</a></li>
						<li><a href="#">Los Angeles Rams</a></li>
						<li><a href="#">Miami Dolphins</a></li>
						<li><a href="#">Minnesota Vikings</a></li>
						<li><a href="#">New England Patriots</a></li>
						<li><a href="#">New Orleans Saints</a></li>
						<li><a href="#">New York Giants</a></li>
						<li><a href="#">New York Jets</a></li>
						<li><a href="#">Oakland Raiders</a></li>
						<li><a href="#">Philadelphia Eagles</a></li>
						<li><a href="#">Pittsburgh Steelers</a></li>
						<li><a href="#">San Francisco 49ers</a></li>
						<li><a href="#">Seattle Seahawks</a></li>
						<li><a href="#">Tampa Bay Buccaneers</a></li>
						<li><a href="#">Tennessee Titans</a></li>
						<li><a href="#">Washington Redskins</a></li>
					
					</ul>
		</li>
		
		<li class='menu'><a href="https://es.wikipedia.org/wiki/National_Football_League">Que es NFL</a></li>
		<li class='menu'><a href="#" style="cursor: default;">Noticias</a>
		<ul>
		<li><a href="https://as.com/masdeporte/nfl.html">Español</a></li>
		<li><a href="http://www.nfl.com/news">Ingles</a></li>
		</ul>
		</li>
			
		<li class='menu'><a href="acerca de.html">Acerca de</a></li>
		</ul>		  
	</div><br/>

	<div class="slider">

			   <ul>

			   	<li><h3>Campeon Superbowl</h3><img src="img/eagles.png" alt=""></li>
			   	<li><h3>Campeon Conferencia Americana</h3><img src="img/patriots.png" alt=""></li>
				<li><h3>Campeon Conferencia Nacional</h3><img src="img/eagles.png" alt=""></li>
			   	<li><h3>MVP de la Temporada</h3><img src="img/brady.png" alt=""></li>

			   </ul>

			   </div>


	
		<div>
		
	<table>
		
		<tr>
		<td class="draft"><b><span class="a">DRAFT NFL 2018:</span><br/>
		<ol>
	<li>Cleveland Browns-->	Baker Mayfield 	QB</li>
	<li>New York Giants-->	Saquon Barkley 	RB</li>
	<li>New York Jets-->	Sam Darnold 	QB</li>
	<li>Cleveland Browns-->	Denzel Ward 	CB</li>
	<li>Denver Broncos-->	Bradley Chubb 	DE	</li>
	<li>Indianapolis Colts-->	Quenton Nelson 	G	</li>
	<li>Buffalo Bills-->	Josh Allen 	QB	</li>
	<li>Chicago Bears-->	Roquan Smith 	LB	</li>
	<li>San Francisco 49ers-->	Mike McGlinchey 	OT</li>
	<li>Arizona Cardinals-->	Josh Rosen 	QB</li>
	<li>Miami Dolphins-->	Minkah Fitzpatrick 	S</li>
	<li>Tampa Bay Buccaneers-->	Vita Vea 	DT</li>
	<li>Washington Redskins-->	Da'Ron Payne 	DT</li>
	<li>New Orleans Saints-->	Marcus Davenport 	DE	</li>
	<li>Oakland Raiders-->	Kolton Miller </li>
				</ol></b>

						</td>
			<td><iframe width="745" height="470" src="https://www.youtube.com/embed/eRnH7ExGAd0" frameborder="40" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
			
		</tr>
		<br/>
		<tr>
			<td><iframe width="745" height="470" src="https://www.youtube.com/embed/LfJ_ZYhQuRc" frameborder="40" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
			<td><iframe width="745" height="470" src="https://www.youtube.com/embed/S1Smdg5vgaI" frameborder="40" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
		</tr>
		<br/>
		<tr>
			<td><iframe width="745" height="470" src="https://www.youtube.com/embed/5vyHo3QYNFI" frameborder="40" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
			<td><iframe width="745" height="470" src="https://www.youtube.com/embed/OkJ88ZUBE-w" frameborder="40" allow="autoplay; encrypted-media" allowfullscreen></iframe></td>
		</tr>
		</table></div>

	



		<p><div id="footer"><img class="img-fluid" src="https://fwuoj1khkeb49iywb339mp8d-wpengine.netdna-ssl.com/wp-content/themes/nfl/images/nfl-ole-logov2.png" alt="NFL en la ubicación ">
		
                © 2018 On Location Events, LLC | All Rights Reserved | <a href="">Terms &amp; Conditions</a> | <a href="">Privacy Policy</a>
                            </div></p>

</body>
</head>
</html>
	